<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>MaiJZ</title>

    <link rel="fluid-icon" href="html/img/fluidicon.jpg" title="MaiJZ">
    <link rel="icon" type="image/x-icon" href="html/img/favicon.ico">

    <link rel="stylesheet" href="html/css/maijz-frameworks.css">

    <link rel="stylesheet" href="html/github-languages-color/colors.css">
    <link rel="stylesheet" href="html/css/pinned-repo-item.css">
    <link rel="stylesheet" href="html/css/base.css">
    <link rel="stylesheet" href="page/profile/index.css">


    <script src="html/js/tool.js"></script>
    <script src="html/github-languages-color/colors.js"></script>
    <script src="html/js/toggle-element.js"></script>
    <script src="html/js/simple-tabs.js"></script>


    <script src="html/js/vue.min.js"></script>
</head>
<body>

<div class="position-relative ">
    <div id="header-content">
        

<div class="header-body">
    <link rel="stylesheet" href="/html/css/p/header.css">

    <div id="header" class="header" role="banner">
        <div class="container clearfix">
            <a aria-label="GitHub" class="header-logo-invertocat" target="_top"
               href="https://github.com/maijz128">
                <svg aria-hidden="true" class="octicon" height="32" version="1.1"
                     viewBox="0 0 16 16" width="32">
                    <use xlink:href="#svg-github"/>
                </svg>
            </a>
            <a aria-label="Twitter" class="header-logo-invertocat" target="_top"
               href="https://twitter.com/maijz128">
                <svg aria-hidden="true" class="octicon" height="32" version="1.1"
                     viewBox="0 0 16 16" width="32">
                    <use xlink:href="#svg-twitter"/>
                </svg>
            </a>
            <a aria-label="Email" class="header-logo-invertocat" target="_top"
               href="mailto:maijz128@gmail.com">
                <svg aria-hidden="true" class="octicon" height="32" version="1.1"
                     viewBox="0 0 16 16" width="32">
                    <use xlink:href="#svg-email"/>
                </svg>

            </a>

            <ul class="header-nav float-right st-nav-tabs" role="navigation">
                <li class="header-nav-item">
                    <a class="header-nav-link" href="/" target="_top">Profile</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link " href="/page/books/" target="_top">Books</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="/page/the-programmers-self-improvement/" target="_top">程序员的自我修养</a>
                </li>

                <li class="header-nav-item dropdown  nav-item">
                    <a class="header-nav-link" href="javascript:void(0);">More</a>

                    <div class="dropdown-menu-content sub-items dropdown-menu-sw">
                        <div class="dropdown-menu dropdown-menu-sw">
                            <!--<div class="dropdown-divider"></div>-->

                            <a class="dropdown-item" href="/page/movie/">
                                Movie
                            </a>

                            <!--<div class="dropdown-divider"></div>-->
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <svg style="display: none" version="1.1" xmlns="http://www.w3.org/2000/svg">

        <symbol id="svg-email" viewBox="0 0 14 16">
            <g>
                <path fill-rule="evenodd"
                      d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z"></path>
            </g>
        </symbol>

        <symbol id="svg-github" viewBox="0 0 16 16">
            <g id="github" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
            </g>
        </symbol>

        <symbol id="svg-facebook" viewBox="0 0 64 64">
            <g id="facebook" viewBox="0 0 64 64">
                <circle id="circle" fill="#3b5998" cx="32" cy="32" r="32"/>
                <path id="fb" fill="#FFFFFF" d="M42.8,23.8h-7.4v-4.8c0-1.8,1.2-2.2,2.1-2.2c0.8,0,5.2,0,5.2,0v-8l-7.2,0c-8,0-9.8,6-9.8,9.8v5.3
	h-4.6V32h4.6c0,10.6,0,23.3,0,23.3h9.7c0,0,0-12.9,0-23.3H42L42.8,23.8z"/>
            </g>
        </symbol>
        <symbol id="svg-twitter" viewBox="0 0 32 32">
            <g id="twitter-home_1_">
                <circle fill="#00acee" cx="16" cy="16" r="16"/>
                <g>
                    <path fill="white" d="M25.753,9.549c-0.736,0.327-1.527,0.548-2.357,0.647c0.847-0.508,1.498-1.312,1.804-2.271
          c-0.793,0.47-1.671,0.812-2.606,0.996C21.846,8.124,20.78,7.626,19.6,7.626c-2.266,0-4.103,1.837-4.103,4.103
          c0,0.322,0.036,0.635,0.106,0.935c-3.41-0.171-6.433-1.805-8.458-4.288C6.792,8.983,6.59,9.687,6.59,10.44
          c0,1.423,0.724,2.679,1.826,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.035,0,0.052c0,1.988,1.414,3.646,3.292,4.023
          c-0.345,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.522-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85
          c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843
          c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C24.507,11.095,25.203,10.373,25.753,9.549z"/>
                </g>
            </g>
        </symbol>
        <symbol id="svg-linkedin" viewBox="0 0 32 32">
            <g id="linkedin-home_1_">
                <circle fill="#007fb2" cx="16" cy="16" r="16"/>
                <path fill="white" d="M10.962,22.594H7.452V11.363h3.509V22.594z M9.118,9.959H9.093C7.823,9.959,7,9.1,7,8.012
        c0-1.109,0.847-1.949,2.142-1.949c1.295,0,2.091,0.838,2.116,1.947C11.259,9.098,10.437,9.959,9.118,9.959z M25,22.594h-3.978
        v-5.811c0-1.522-0.623-2.559-1.991-2.559c-1.047,0-1.628,0.7-1.9,1.377c-0.101,0.241-0.086,0.579-0.086,0.916v6.077h-3.941
        c0,0,0.05-10.295,0-11.231h3.941v1.763c0.234-0.771,1.492-1.87,3.503-1.87c2.492,0,4.452,1.616,4.452,5.093V22.594z"/>
            </g>
        </symbol>
        <symbol id="svg-stackoverflow" viewBox="0 0 32 32">
            <g id="stackoverflow">
                <circle cx="16" cy="16" r="16"/>
                <g id="layer1_5_">
                    <path fill="white" id="path2830_5_"
                          d="M7.686,17.837h1.578v7.042H19.71v-7.042h1.663v8.748H7.677L7.686,17.837z"/>
                    <rect fill="white" id="rect3604_5_" x="10.259" y="21.991" width="8.226" height="1.75"/>

                    <rect fill="white" id="rect3606_5_" x="10.346" y="19.234"
                          transform="matrix(-0.9954 -0.0961 0.0961 -0.9954 26.9613 41.5599)" width="8.27" height="1.794"/>

                    <rect fill="white" id="rect3606-1_5_" x="10.806" y="16.368"
                          transform="matrix(-0.9624 -0.2716 0.2716 -0.9624 24.6298 37.9392)" width="8.27" height="1.794"/>

                    <rect fill="white" id="rect3606-1-3_5_" x="12.075" y="13.261"
                          transform="matrix(-0.856 -0.517 0.517 -0.856 22.7643 34.6582)" width="8.27" height="1.794"/>

                    <rect fill="white" id="rect3606-1-3-7_5_" x="14.705" y="10.427"
                          transform="matrix(-0.5824 -0.8129 0.8129 -0.5824 20.6069 33.2336)" width="8.27" height="1.794"/>

                    <rect fill="white" id="rect3606-1-3-7-6_5_" x="18.417" y="8.942"
                          transform="matrix(-0.1648 -0.9863 0.9863 -0.1648 16.5646 33.7041)" width="8.27" height="1.794"/>
                </g>
            </g>
        </symbol>
        <symbol id="svg-stackoverflow-hover" viewBox="0 0 32 32">
            <g id="stackoverflow-hover">
                <g id="circle">
                    <path id="outer" d="M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0L16,0z"/>
                    <path id="inner" fill="#FFFFFF" d="M16,1c8.3,0,15,6.7,15,15s-6.7,15-15,15S1,24.3,1,16S7.7,1,16,1"/>
                </g>
                <g id="icon">
                    <path id="path2830_2_" fill="#919191" d="M7.8,17.7h1.6v7h10.4v-7h1.7v8.7H7.8L7.8,17.7z"/>
                    <rect id="rect3604_2_" x="10.4" y="21.9" fill="#919191" width="8.2" height="1.8"/>

                    <rect id="rect3606_2_" x="10.4" y="19.1"
                          transform="matrix(0.9954 9.609730e-02 -9.609730e-02 0.9954 1.9924 -1.3087)" fill="#A78B68"
                          width="8.3" height="1.8"/>

                    <rect id="rect3606-1_2_" x="10.9" y="16.3"
                          transform="matrix(0.9624 0.2716 -0.2716 0.9624 5.228 -3.4402)" fill="#C19653" width="8.3"
                          height="1.8"/>

                    <rect id="rect3606-1-3_2_" x="12.2" y="13.2" transform="matrix(0.856 0.517 -0.517 0.856 9.6174 -6.4081)"
                          fill="#D48C28" width="8.3" height="1.8"/>

                    <rect id="rect3606-1-3-7_2_" x="14.8" y="10.3"
                          transform="matrix(0.5824 0.8129 -0.8129 0.5824 17.035 -10.7104)" fill="#FE8908" width="8.3"
                          height="1.8"/>

                    <rect id="rect3606-1-3-7-6_2_" x="18.5" y="8.8"
                          transform="matrix(0.1648 0.9863 -0.9863 0.1648 28.5276 -14.2094)" fill="#FF7A15" width="8.3"
                          height="1.8"/>
                </g>
            </g>
        </symbol>
    </svg>

</div>
    </div>
</div>
<div role="main" class="maincontent">
    <div id="pane-profile" class="container-lg clearfix px-3 mt-4">

        <div class="col-3 float-left pr-3">
            <div id="user" v-cloak>
                <a v-bind:href="json.html_url" class="u-photo d-block ">
                    <img class="avatar width-full rounded-2" height="230"
                         v-bind:src="json.avatar_url" width="230"></a>

                <div class="vcard-names-container py-3 "
                     style="position: static;">
                    <h1 class="vcard-names">
                        <span class="p-name vcard-fullname d-block">{{json.name}}</span>
                        <span class="p-nickname vcard-username d-block">{{json.login}}</span>
                    </h1>
                </div>

                <div class="p-note user-profile-bio">
                    <div>{{ json.bio }}</div>
                </div>


                <ul class="vcard-details border-top border-gray-light py-3">

                    <li aria-label="Organization" class="vcard-detail pt-1 css-truncate css-truncate-target"
                        itemprop="worksFor" show_title="false"
                        v-show="json.company">
                        <svg aria-hidden="true" class="octicon octicon-organization" height="16" version="1.1"
                             viewBox="0 0 16 16" width="16">
                            <path fill-rule="evenodd"
                                  d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4"></path>
                        </svg>
                        <span class="p-org"><div>{{ json.company }}</div></span>
                    </li>

                    <li aria-label="Home location" class="vcard-detail pt-1 css-truncate css-truncate-target"
                        v-show="json.location">
                        <svg aria-hidden="true" class="octicon octicon-location" height="16" version="1.1"
                             viewBox="0 0 12 16" width="12">
                            <path fill-rule="evenodd"
                                  d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
                        </svg>
                        <span class="p-label">{{ json.location }}</span>
                    </li>

                    <li aria-label="Email" class="vcard-detail pt-1 css-truncate css-truncate-target" itemprop="email"
                        v-show="json.email">
                        <svg aria-hidden="true" class="octicon octicon-mail" height="16" version="1.1"
                             viewBox="0 0 14 16" width="14">
                            <use xlink:href="#svg-email"></use>
                        </svg>
                        <a class="u-email" v-bind:href="'mailto:' + json.email">{{ json.email }}</a>
                    </li>

                    <li aria-label="Blog or website" class="vcard-detail pt-1 css-truncate css-truncate-target"
                        itemprop="url"
                        v-show="json.blog">
                        <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1"
                             viewBox="0 0 16 16" width="16">
                            <path fill-rule="evenodd"
                                  d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                        </svg>
                        <a v-bind:href="json.blog" class="u-url" rel="nofollow me">{{ json.blog }}</a>
                    </li>
                </ul>


                <div class="border-top py-3 clearfix"
                     v-show="isShowOrganizations">
                    <h2 class="mb-1 h4">Organizations</h2>

                    <a href="/MakomoProject" aria-label="MakomoProject"
                       class="tooltipped tooltipped-n avatar-group-item">
                        <img alt="@MakomoProject" class="avatar" height="35"
                             src="https://avatars3.githubusercontent.com/u/23189528?v=3"
                             width="35"></a>
                </div>
            </div>
        </div>

        <div class="col-9 float-left pl-2">

            <div class="code-languages">
                <h3 class="f4 mb-2 text-normal">编程语言</h3>
                <table border="1" cellpadding="10">
                    <thead>
                    <tr>
                        <th>Language</th>
                        <th>使用频率</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>JavaScript</td>
                        <td>
                            <div class="use-rate-3"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>
                            <div class="use-rate-2"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>C#</td>
                        <td>
                            <div class="use-rate-2"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>
                            <div class="use-rate-1"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>
                            <div class="use-rate-0"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="use-rate-legend">
                    Less
                    <ul>
                        <li class="use-rate-0"></li>
                        <li class="use-rate-1"></li>
                        <li class="use-rate-2"></li>
                        <li class="use-rate-3"></li>
                        <li class="use-rate-4"></li>
                    </ul>
                    More
                </div>
            </div>


            <div id="projects" v-cloak>

                <div v-for="(pro, proIndex) in projects">

                    <h3 class="f4 mb-2 text-normal band">
                        <span class="in-band">{{ pro.title }}</span>
                        <span class="out-of-band">
                            <span>
                               <a class="toggle-el-switch" v-bind:te-target="'repos' + proIndex"
                                  v-bind:te-closing="pro.closing"
                                  href="JavaScript:;" title="toggle list">
                                   <span class="inner toggle-el-show-hint">[−]</span>
                                   <span class="inner toggle-el-hide-hint">[+]</span>
                               </a>
                            </span>
                        </span>
                    </h3>

                    <ol class="pinned-repos-list" v-bind:id="'repos' + proIndex">

                        <li class="pinned-repo-item" v-for="repo in getRepos(pro.repos)">
                            <div class="pinned-repo-item-content">
                                <span class="d-block position-relative">
                                    <span class="pinned-repository-handle float-left pr-2"
                                          title="HomePage">
                                        <a class="home" v-show="repo.homepage" v-bind:href="repo.homepage"></a>
                                    </span>
                                    <a v-bind:href="repo.html_url" class="text-bold">
                                        <span class="repo " v-bind:title="repo.name">{{ repo.name}}</span>
                                    </a>
                                </span>

                                <p class="pinned-repo-desc text-gray text-small d-block mt-2 mb-3">
                                    {{ repo.description }}</p>

                                <p class="mb-0 f6 text-gray">
                                    <span class="repo-language-color pinned-repo-meta"
                                          v-bind:style="getLanguageColor(repo)"
                                          v-show="repo.language"></span>
                                    {{ repo.language }}

                                    <a v-bind:href="repo.html_url + '/stargazers'" class="pinned-repo-meta muted-link"
                                       v-show="repo.stargazers_count > 0">
                                        <svg aria-label="stars" class="octicon octicon-star" height="16" role="img"
                                             version="1.1" viewBox="0 0 14 16" width="14">
                                            <path fill-rule="evenodd"
                                                  d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path>
                                        </svg>
                                        {{ repo.stargazers_count }}
                                    </a>

                                    <a v-bind:href="repo.html_url + '/network/members'"
                                       class="pinned-repo-meta muted-link"
                                       v-show="repo.forks_count > 0">
                                        <svg aria-label="fork" class="octicon octicon-repo-forked" height="16"
                                             role="img"
                                             version="1.1" viewBox="0 0 10 16" width="10">
                                            <path fill-rule="evenodd"
                                                  d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
                                        </svg>
                                        {{ repo.forks_count }}
                                    </a>
                                </p>
                            </div>
                        </li>

                    </ol>
                </div>

            </div>

        </div>

    </div>

</div>


<style>
    .site-footer {
        background-color: #222;
        color: white;
        min-height: 60px;
        font-size: 16px;
        padding: 1em;
        letter-spacing: 1px;
    }

    .site-info {
        text-align: center;
        margin-right: -15px;
        margin-left: -15px;
    }
    .site-info a:hover{
        color: #78909c;
        text-decoration: none;
    }
</style>
<footer class="site-footer">
    <div class="site-info">
        MaiJZ © 2017
        <span class="sep"> | </span>
        Powered by <a href="https://github.com/maijz128/shpnode">SHPNode</a>
    </div>
</footer>

<script>/**
 * Author: MaiJZ
 * Date: 2017/11/17
 * GitHub: https://github.com/maijz128
 */

const Data_Profile = {
    "userName": "maijz128",
    "projects": [
        {
            "title": "笔记",
            "repos": [
                "Rust"
            ]
        },
        {
            "title": "项目",
            "repos": [
                "voxel-model",
                "AutoUnlock",
                "bilibili-index-icon",
                "Checker-for-Jandan",
                "github-update-checker"
            ]
        },
        {
            "title": "练手项目",
            "closing" : true,
            "repos": [
            ]
        }
    ]
};
</script>
<script src="page/profile/index.js"></script>

<div style="display: none;">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">

    <symbol id="svg-email" viewBox="0 0 14 16">
        <g>
            <path fill-rule="evenodd"
                  d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z"></path>
        </g>
    </symbol>

    <symbol id="github" viewBox="0 0 16 16">
        <g id="github" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </g>
    </symbol>

    <symbol id="facebook" viewBox="0 0 64 64">
        <g id="facebook" viewBox="0 0 64 64">
            <circle id="circle" fill="#3b5998" cx="32" cy="32" r="32"/>
            <path id="fb" fill="#FFFFFF" d="M42.8,23.8h-7.4v-4.8c0-1.8,1.2-2.2,2.1-2.2c0.8,0,5.2,0,5.2,0v-8l-7.2,0c-8,0-9.8,6-9.8,9.8v5.3
	h-4.6V32h4.6c0,10.6,0,23.3,0,23.3h9.7c0,0,0-12.9,0-23.3H42L42.8,23.8z"/>
        </g>
    </symbol>
    <symbol id="twitter" viewBox="0 0 32 32">
        <g id="twitter-home_1_">
            <circle fill="#00acee" cx="16" cy="16" r="16"/>
            <g>
                <path fill="white" d="M25.753,9.549c-0.736,0.327-1.527,0.548-2.357,0.647c0.847-0.508,1.498-1.312,1.804-2.271
          c-0.793,0.47-1.671,0.812-2.606,0.996C21.846,8.124,20.78,7.626,19.6,7.626c-2.266,0-4.103,1.837-4.103,4.103
          c0,0.322,0.036,0.635,0.106,0.935c-3.41-0.171-6.433-1.805-8.458-4.288C6.792,8.983,6.59,9.687,6.59,10.44
          c0,1.423,0.724,2.679,1.826,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.035,0,0.052c0,1.988,1.414,3.646,3.292,4.023
          c-0.345,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.522-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85
          c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843
          c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C24.507,11.095,25.203,10.373,25.753,9.549z"/>
            </g>
        </g>
    </symbol>
    <symbol id="linkedin" viewBox="0 0 32 32">
        <g id="linkedin-home_1_">
            <circle fill="#007fb2" cx="16" cy="16" r="16"/>
            <path fill="white" d="M10.962,22.594H7.452V11.363h3.509V22.594z M9.118,9.959H9.093C7.823,9.959,7,9.1,7,8.012
        c0-1.109,0.847-1.949,2.142-1.949c1.295,0,2.091,0.838,2.116,1.947C11.259,9.098,10.437,9.959,9.118,9.959z M25,22.594h-3.978
        v-5.811c0-1.522-0.623-2.559-1.991-2.559c-1.047,0-1.628,0.7-1.9,1.377c-0.101,0.241-0.086,0.579-0.086,0.916v6.077h-3.941
        c0,0,0.05-10.295,0-11.231h3.941v1.763c0.234-0.771,1.492-1.87,3.503-1.87c2.492,0,4.452,1.616,4.452,5.093V22.594z"/>
        </g>
    </symbol>
    <symbol id="stackoverflow" viewBox="0 0 32 32">
        <g id="stackoverflow">
            <circle cx="16" cy="16" r="16"/>
            <g id="layer1_5_">
                <path fill="white" id="path2830_5_"
                      d="M7.686,17.837h1.578v7.042H19.71v-7.042h1.663v8.748H7.677L7.686,17.837z"/>
                <rect fill="white" id="rect3604_5_" x="10.259" y="21.991" width="8.226" height="1.75"/>

                <rect fill="white" id="rect3606_5_" x="10.346" y="19.234"
                      transform="matrix(-0.9954 -0.0961 0.0961 -0.9954 26.9613 41.5599)" width="8.27" height="1.794"/>

                <rect fill="white" id="rect3606-1_5_" x="10.806" y="16.368"
                      transform="matrix(-0.9624 -0.2716 0.2716 -0.9624 24.6298 37.9392)" width="8.27" height="1.794"/>

                <rect fill="white" id="rect3606-1-3_5_" x="12.075" y="13.261"
                      transform="matrix(-0.856 -0.517 0.517 -0.856 22.7643 34.6582)" width="8.27" height="1.794"/>

                <rect fill="white" id="rect3606-1-3-7_5_" x="14.705" y="10.427"
                      transform="matrix(-0.5824 -0.8129 0.8129 -0.5824 20.6069 33.2336)" width="8.27" height="1.794"/>

                <rect fill="white" id="rect3606-1-3-7-6_5_" x="18.417" y="8.942"
                      transform="matrix(-0.1648 -0.9863 0.9863 -0.1648 16.5646 33.7041)" width="8.27" height="1.794"/>
            </g>
        </g>
    </symbol>
    <symbol id="stackoverflow-hover" viewBox="0 0 32 32">
        <g id="stackoverflow-hover">
            <g id="circle">
                <path id="outer" d="M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0L16,0z"/>
                <path id="inner" fill="#FFFFFF" d="M16,1c8.3,0,15,6.7,15,15s-6.7,15-15,15S1,24.3,1,16S7.7,1,16,1"/>
            </g>
            <g id="icon">
                <path id="path2830_2_" fill="#919191" d="M7.8,17.7h1.6v7h10.4v-7h1.7v8.7H7.8L7.8,17.7z"/>
                <rect id="rect3604_2_" x="10.4" y="21.9" fill="#919191" width="8.2" height="1.8"/>

                <rect id="rect3606_2_" x="10.4" y="19.1"
                      transform="matrix(0.9954 9.609730e-02 -9.609730e-02 0.9954 1.9924 -1.3087)" fill="#A78B68"
                      width="8.3" height="1.8"/>

                <rect id="rect3606-1_2_" x="10.9" y="16.3"
                      transform="matrix(0.9624 0.2716 -0.2716 0.9624 5.228 -3.4402)" fill="#C19653" width="8.3"
                      height="1.8"/>

                <rect id="rect3606-1-3_2_" x="12.2" y="13.2" transform="matrix(0.856 0.517 -0.517 0.856 9.6174 -6.4081)"
                      fill="#D48C28" width="8.3" height="1.8"/>

                <rect id="rect3606-1-3-7_2_" x="14.8" y="10.3"
                      transform="matrix(0.5824 0.8129 -0.8129 0.5824 17.035 -10.7104)" fill="#FE8908" width="8.3"
                      height="1.8"/>

                <rect id="rect3606-1-3-7-6_2_" x="18.5" y="8.8"
                      transform="matrix(0.1648 0.9863 -0.9863 0.1648 28.5276 -14.2094)" fill="#FF7A15" width="8.3"
                      height="1.8"/>
            </g>
        </g>
    </symbol>

    <symbol id="weibo" viewBox="0 0 1000 1000">
        <g id="weibo">
            <path d="M352,584.1c-24.6,2.6-42.2,24-42.2,44.5c0,20.6,19.8,34.8,44.4,31.9c24.5-2.8,44.4-21.7,44.4-42.3C398.6,597.7,380.3,581.4,352,584.1z"/>
            <path d="M414.5,567.1c-8.5,6.1-10.2,17.8-5.6,25.1c4.4,7.4,14.7,8.3,23,2.1c8.1-6.4,11.3-17.6,6.9-25.1C434.3,562,424.2,559.9,414.5,567.1z"/>
            <path d="M500,10.2c-270.4,0-490,219.3-490,489.9c0,270.5,219.6,489.7,490,489.7c270.6,0,490-219.2,490-489.7C990,229.5,770.7,10.2,500,10.2z M767.8,623c-54,114.7-232.1,170.5-364,160.2c-125.4-9.8-286.7-51.5-303.3-203.3c0,0-8.8-68.7,57.8-157.7c0,0,95.9-133.9,207.5-172.1c111.7-38,124.7,26.3,124.7,64.4c-5.9,32.3-17,51.2,24.9,38.2c0,0,109.9-50.9,155-5.8c36.4,36.5,6,86.7,6,86.7s-15.1,16.8,16,22.8C723.7,462.6,821.9,508.1,767.8,623z M659.6,306c-12,0-21.6-9.6-21.6-21.5c0-12.1,9.6-21.8,21.6-21.8c0,0,134.6-24.9,118.5,119.8c0,0.9-0.1,1.6-0.3,2.3c-1.6,10.2-10.6,18.1-21.2,18.1c-12,0-21.7-9.6-21.7-21.6C735,381.4,756.3,284.7,659.6,306z M887,406.9c-3.5,52.1-15.7,33.9-30.2,33.9c-17.3,0-31.3-8.7-31.3-26.1c0-15,6.2-27.6,6.2-27.6c1.9-6.3,16.5-44.3-9.6-103c-47.9-80.4-144.3-80.9-155.7-76.3c-11.5,4.5-28.5,7.1-28.5,7.1c-17.4,0-31.4-13.9-31.4-31.1c0-14.5,9.7-26.4,22.9-30.2c0,0,0.3,0,0.7-0.2c0.9-0.2,1.9-0.4,3-0.5c13.4-2.6,61.3-20.9,107.8-10c83.3,19.4,197.7,107.6,146.2,263.9L887,406.9L887,406.9z"/>
            <path d="M413.6,429.7c-131,6-236.9,76.2-236.9,163.7c0,87.4,105.9,153.1,236.9,147c131.1-5.9,237.2-88,237.2-175.5C650.8,477.6,544.7,423.6,413.6,429.7z M502.8,649.8c-40.1,51.8-119.5,77.1-196.6,35.3c-36.7-19.9-35.3-59-35.3-59s-15.2-123.4,116.5-138.8C519.4,472,542.9,598,502.8,649.8z"/>
        </g>
    </symbol>
    <symbol id="tencent-qq" viewBox="0 0 1000 1000">
        <g>
            <path d="M500,990C229.4,990,10,770.6,10,500S229.4,10,500,10s490,219.4,490,490S770.6,990,500,990L500,990z M673.5,449c-4.1-19.2-10.2-30.6-10.2-30.6s0.3-28.1-30.6-91.9C601.8,262.7,510.2,255,510.2,255H500c0,0-91.6,7.7-122.5,71.5c-30.9,63.8-30.6,91.9-30.6,91.9s-6.1,11.5-10.2,30.6c-4.1,19.2,0,30.6,0,30.6s-52.3,53.4-51,91.9c1.3,38.5,10.7,63,30.6,40.8c19.9-22.2,20.4-20.4,20.4-20.4s-0.3,16.6,10.2,30.6s20.4,20.4,20.4,20.4s-53.5,26.5-40.8,61.3c12.7,34.7,51.9,41.1,81.7,40.8s91.9-20.4,91.9-20.4h10.2c0,0,62.1,20.1,91.9,20.4c29.8,0.3,69-6.1,81.7-40.8c12.7-34.7-40.8-61.3-40.8-61.3s9.9-6.4,20.4-20.4c10.6-14,10.2-30.6,10.2-30.6s0.5-1.8,20.4,20.4c19.9,22.2,29.3-2.3,30.6-40.8c1.3-38.5-51-91.9-51-91.9S677.7,468.1,673.5,449L673.5,449z"/>
        </g>
    </symbol>
    <symbol id="douban" viewBox="0 0 256 256">
        <g id="Background_1_" style="enable-background:new    ;">
            <g id="Background">
                <g>
                    <path d="M249.422,30.68c-2.722-4.986-5.816-9.537-9.794-13.521     c-3.991-3.998-8.708-7.587-13.702-10.314c-8.381-4.576-18.789-6.856-29.002-6.856H59.075c-10.444,0-20.542,2.345-29.265,6.949     c-5.022,2.65-9.588,6.146-13.503,10.126c-3.932,3.998-7.491,8.488-10.046,13.572c-4.289,8.533-6.274,18.478-6.274,28.65v137.43     c0,10.326,1.671,20.678,6.296,29.134c2.68,4.9,6.191,9.861,10.087,13.794c3.934,3.971,8.583,7.226,13.502,9.956     c8.465,4.7,18.842,6.413,29.202,6.413h137.849c10.568,0,20.398-1.523,28.982-6.401c4.739-2.692,9.879-6.113,13.687-9.966     c3.923-3.969,7.2-8.851,9.886-13.798c4.566-8.416,6.533-18.875,6.533-29.132V59.285C256.012,48.978,254.031,39.124,249.422,30.68     z"
                          style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;"/>
                </g>
            </g>
        </g>
        <g id="Shape_1_1_" style="enable-background:new    ;">
            <g id="Shape_1">
                <g>
                    <path d="M204.508,49.25H51.492v18.549h153.016V49.25z      M167.393,188.201l9.441-32.541h18.232c0,0,0-49.249,0-73.869H60.933c0,24.62,0,73.869,0,73.869h17.906l9.767,32.541     c0,0-27.783,0-41.673,0v18.549h162.133v-18.549C195.176,188.201,167.393,188.201,167.393,188.201z M84.048,137.111V100.34h87.903     v36.771H84.048z M148.51,187.876h-41.021l-9.767-32.216h60.23L148.51,187.876z"
                          style="fill-rule:evenodd;clip-rule:evenodd;fill:#228A31;"/>
                </g>
            </g>
        </g>
    </symbol>
</svg>
</div>
</body>
</html>