

.header {
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}



.header-logo-invertocat {
    float: left;
    margin: -1px 15px -1px -2px;
    color: #fff;
    white-space: nowrap;
}


.header-nav {
    list-style: none;
}
.header-nav-item {
    float: left;
}
.header-nav-link {
    display: block;
    padding: 5px 8px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255,255,255,0.75);
}
.header-nav-link:hover, .header-nav-link:focus {
    color: #fff;
    text-decoration: none;
}