

a {
    background-color: transparent;
    color: #0366d6;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}
ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
.octicon {
    vertical-align: text-bottom;
}
.clearfix::before {
    display: table;
    content: "";
}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
.container::before {
    display: table;
    content: "";
}
.container::after {
    display: table;
    clear: both;
    content: "";
}
.float-right {
    float: right !important;
}
.header-logo-invertocat {
    float: left;
    margin: -1px 15px -1px -2px;
    color: #fff;
    white-space: nowrap;
}


.header-body{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

.header-body .container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}


.header {
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}


.header-logo-invertocat {
    float: left;
    margin: -1px 15px -1px -2px;
    color: #fff;
    white-space: nowrap;
}


.header-nav {
    list-style: none;
}
.header-nav-item {
    float: left;
}
.header-nav-link {
    display: block;
    padding: 5px 8px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255,255,255,0.75);
}
.header-nav-link:hover, .header-nav-link:focus {
    color: #fff;
    text-decoration: none;
}


.dropdown {
    position: relative;
}
.dropdown-menu-content {
    display: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}
.dropdown-menu::before {
    border: 8px solid transparent;
    border-bottom-color: rgba(27,31,35,0.15);
}
.dropdown-menu::before, .dropdown-menu::after {
    position: absolute;
    display: inline-block;
    content: "";
}
.dropdown-menu::after {
    border: 7px solid transparent;
    border-bottom-color: #fff;
}
.dropdown-menu-sw {
    right: 0;
    left: auto;
}
.dropdown-menu-sw::before {
    top: -16px;
    right: 9px;
    left: auto;
    width: 100%;
}
.dropdown-menu-sw::after {
    top: -14px;
    right: 10px;
    left: auto;
}
.dropdown-divider {
    height: 1px;
    margin: 8px 1px;
    background-color: #e1e4e8;
}
.dropdown-item {
    display: block;
    padding: 4px 10px 4px 15px;
    overflow: hidden;
    color: #24292e;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0366d6;
}
.sub-items {
    display: none;
    position: absolute;
}
.nav-item:hover .sub-items {
    display: block;
    z-index: 111;
}

