
body {
    min-width: 1020px;
    word-wrap: break-word;
}

.vcard-detail .octicon {
    color: #6a737d;
}


.tooltipped {
    position: relative;
}


.vcard-names-container {
    top: 0;
}


.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.vcard-names {
    line-height: 1;
}
.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
}
.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}

.user-profile-bio {
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #6a737d;
}

.vcard-details {
    list-style: none;
}
.vcard-details .css-truncate.css-truncate-target {
    width: 100%;
    max-width: 100%;
}
.vcard-detail .octicon {
    float: left;
    width: 16px;
    margin-top: 3px;
    /*margin-left: -24px;*/
    margin-right: 5px;
    color: #6a737d;
    text-align: center;
}


.use-rate-0{  background-color: #eee;  }
.use-rate-1{  background-color: #c6e48b;  }
.use-rate-2{  background-color: #7bc96f;  }
.use-rate-3{  background-color: #239a3b;  }
.use-rate-4{  background-color: #196127; }
.use-rate-legend{
    color: #586069 !important;
    font-size: 11px;
}
.use-rate-legend ul{
    position: relative;
    bottom: -1px;
    display: inline-block;
    margin: 0 5px;
    list-style: none;
}
.use-rate-legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}
.code-languages{
    color: #586069 !important;
    margin-bottom: 16px;
}
.code-languages table{
    border: 1px #ddd solid !important;
}
.code-languages table td,.code-languages table th {
    padding: 4px 6px;
}
.code-languages table td div{
    height: 20px;
}

.band{
    position: relative;
    border-bottom: 1px dashed;
    border-bottom-color: #D5D5D5;
}
.in-band {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.out-of-band {
    margin: 0px;
    padding: 0px;
    text-align: right;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    right: 0;
}