<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的电影 - MaiJZ</title>

    <link rel="fluid-icon" href="/html/img/fluidicon.jpg" title="MaiJZ">
    <link rel="icon" type="image/x-icon" href="/html/img/favicon.ico">


    <link rel="stylesheet" href="/html/css/maijz-frameworks.css">
    <link rel="stylesheet" href="index.css">

    <script src="/html/js/tool.js"></script>
    <script src="/html/js/toggle-element.js"></script>
    <script src="/html/js/vue.min.js"></script>
    <script src="index.js"></script>

</head>
<body>
<div class="position-relative">
    <div id="header-content"></div>
</div>
<div role="main">
    <div class="container-lg clearfix px-3 mt-4">
        <div class="col-3 float-left pr-3"></div>

        <div class="col-9 float-left pl-2">
            <div id="movies-container">
                <div class="category" v-for="(categoryObj,  categoryIndex) in json">
                    <h3 class="f4 mb-2 text-normal band">
                        <span class="in-band">{{ categoryObj.category }}</span>
                        <span class="out-of-band">
                            <span>
                               <a class="toggle-el-switch" v-bind:te-target="'category' + categoryIndex"
                                  v-bind:te-closing="categoryObj.closing"
                                  href="JavaScript:;" title="toggle list">
                                   <span class="inner toggle-el-show-hint">[−]</span>
                                   <span class="inner toggle-el-hide-hint">[+]</span>
                               </a>
                            </span>
                        </span>
                    </h3>

                    <ol class="pinned-movies-list" v-bind:id="'category' + categoryIndex">
                        <li class="pinned-movie-item" v-for="movie in categoryObj.movies">
                            <p>
                                <a class="movie-link" href="javascript:void(0);"
                                   v-on:click="profile(movie)">
                                    <span class="movie-name">{{movie.name}}</span>
                                </a>
                                <span class="float-right">
                                    <a class="movie-link" title="迅雷下载" target="_blank"
                                       v-if="movie.links.thunder" v-bind:href="movie.links.thunder">迅雷</a>
                                     <a class="movie-link" title="QQ旋风下载" target="_blank"
                                        v-if="movie.links.qqdl" v-bind:href="movie.links.qqdl">旋风</a>
                                </span>
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
     htmlLoader("/pages/header/index.html", "#header-content");
</script>
</body>
</html>