
body {
    min-width: 1020px;
    word-wrap: break-word;
}

.position-relative{  position: relative;  }
.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

.underline {
    text-decoration: underline;
}
.underline-hover:hover {
    text-decoration: underline;
}


.category .band {
    position: relative;  border-bottom: 1px dashed;  border-bottom-color: #D5D5D5;
}
.category .in-band {  margin: 0;  padding: 0;  display: inline-block;  }
.category .out-of-band {
    margin: 0;  padding: 0;
    text-align: right;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    right: 0;
}

.movie-name{color: #586069 !important;}
.movie-name:hover{  color: #9E0000 !important;}

a.movie-link:hover{  color: #9E0000 !important; }